name: Upload Release to Google Drive

on:
  release:
    types: [published]

jobs:
  upload:
    runs-on: ubuntu-latest
    steps:
      - name: Get release asset
        id: get_asset
        run: |
          ASSET_URL=$(echo '${{ toJson(github.event.release.assets) }}' | python3 -c "
          import json, sys
          assets = json.load(sys.stdin)
          exe = [a for a in assets if a['name'].endswith('.exe')]
          if exe:
              print(exe[0]['browser_download_url'])
              print(exe[0]['name'], file=open('/tmp/asset_name.txt','w'))
          ")
          echo "ASSET_URL=$ASSET_URL" >> $GITHUB_ENV

      - name: Download release asset
        run: |
          wget -O /tmp/$(cat /tmp/asset_name.txt) "$ASSET_URL"

      - name: Upload to Google Drive
        uses: adityak74/google-drive-upload-git-action@main
        with:
          credentials: ${{ secrets.GOOGLE_SERVICE_ACCOUNT_KEY }}
          filename: /tmp/$(cat /tmp/asset_name.txt)
          folderId: ${{ secrets.GDRIVE_FOLDER_ID }}
          overwrite: true
